%h1= t('moves.list')

%table
  %tr
    %th= t('side')
    %th= t('pgn')
    %th= t('lan')
    %th= t('player_value')
    %th= t('annotator_move')
    %th= t('annotator_value')
    %th= t('number')
    %th= t('comments')
    %th= t('check')
    %th= t('mate')
    %th
    %th
    %th

  - @moves.each do |move|
    %tr
      %td= move.side
      %td= move.pgn
      %td= move.lan
      %td= move.player_value
      %td= move.annotator_move
      %td= move.annotator_value
      %td= move.number
      %td= move.comments
      %td= move.check
      %td= move.mate
      %td= link_to t('show'), move
      %td= link_to t('edit'), edit_move_path(move)
      %td= link_to t('destroy'), move, :method => :delete, :data => { :confirm => t('sure') }

%br

= link_to t('moves.new'), new_move_path
