.container
  .row
    .col-md-6.col-md-offset-4
      = image_tag 'chessrate.png', style: 'height: 162px; padding-bottom: 10px;'
    .col-md-3.col-md-offset-4
      .page-header
        %h2 Sign up
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email, class: 'sr-only'
          = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: t('email')

        .form-group
          = f.label :password, class: 'sr-only'
          = f.password_field :password, class: 'form-control', placeholder: t('password')

        .form-group
          = f.label :password_confirmation, class: 'sr-only'
          = f.password_field :password_confirmation, class: 'form-control', placeholder: t('password_confirmation')

        %div
          = f.submit "Sign up", class: 'btn btn-primary'

      = render "devise/shared/links"
