%h1 Listing players

%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Name
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.name
      %td= link_to 'Show', player, class: 'btn btn-primary'
      %td= link_to 'Edit', edit_player_path(player), class: 'btn'
      %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Player', new_player_path, class: 'btn btn-primary'
