%p#notice= notice

%p
  %b Name:
  = @reference_database.name
%p
  %b Path:
  = @reference_database.path

= link_to 'Edit', edit_reference_database_path(@reference_database), class: 'btn btn-primary'
\|
= link_to 'Back', reference_databases_path, class: 'btn'
