.container
  .row
    .col-md-6.col-md-offset-4
      = image_tag 'chessrate.png', style: 'height: 162px; padding-bottom: 10px;'
    .col-md-3.col-md-offset-4
      .page-header
        %h2
          = t('reset_password')

      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email, class: 'sr-only'
          = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: t('email')

        %div
          = f.submit t('reset_password_instructions'), class: 'btn btn-primary'

      = render "devise/shared/links"
