.span4
  %h3
    = t('analyze') + ": #{description}"
  %h4
    = name
  = form_tag path: path do
    .field
      = label_tag :time, t('time.label')
      = number_field_tag :time, 3000, step: :any, min: 300
      %p.help= t('miliseconds')
    .field
      = label_tag :tie_threshold, t('tie_threshold')
      = number_field_tag :tie_threshold, 1, step: :any, min: 0.01
      %p.help= t('float')
    .field
      = label_tag :blunder_threshold, t('blunder_threshold')
      = number_field_tag :blunder_threshold, 3, step: :any, min: 1
      %p.help= t('float')
    .field
      = label_tag :reference_database_id, t('reference_database')
      = select_tag :reference_database_id, options_from_collection_for_select(ReferenceDatabase.all, :id, :name)
      %p.help= t('string')
    .actions
      = submit_tag t('process'), class: 'btn'

