= form_for @pgn_file do |f|
  - if @pgn_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pgn_file.errors.count, "error")} prohibited this pgn_file from being saved:"
      %ul
        - @pgn_file.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, t('description')
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :pgn_file, t('file')
    = f.file_field :pgn_file
  .actions
    = f.submit t('save'), class: 'btn btn-primary'
