%p#notice= notice

%p
  %b= t('description')
  = @pgn_file.description
%p
  %b= t('status')
  = @pgn_file.status

= link_to t('edit'), edit_pgn_file_path(@pgn_file), class: 'btn btn-primary'
\|
= link_to t('back'), pgn_files_path, class: 'btn'
