%p
  %b= t('white')
  = @game.white_id
%p
  %b= t('black')
  = @game.black_id
%p
  %b= t('annotator')
  = @game.annotator
%p
  %b= t('white_avg_error')
  = @game.white_avg_error
%p
  %b= t('black_avg_error')
  = @game.black_avg_error
%p
  %b= t('tournament')
  = @game.tournament_id
%p
  %b= t('site')
  = @game.site_id
%p
  %b= t('start_date')
  = @game.start_date
%p
  %b= t('round')
  = @game.round
%p
  %b= t('result')
  = @game.result
%p
  %b= t('status')
  = @game.status
%p
  %b= t('end_date')
  = @game.end_date
%p
  %b= t('white_std_deviation')
  = @game.white_std_deviation
%p
  %b= t('black_std_deviation')
  = @game.black_std_deviation
%p
  %b= t('white_perfect_rate')
  = @game.white_perfect_rate
%p
  %b= t('black_perfect_rate')
  = @game.black_perfect_rate
%p
  %b= t('black_blunder_rate')
  = @game.black_blunder_rate
%p
  %b= t('white_blunder_rate')
  = @game.white_blunder_rate
%p
  %b= t('player_out_dbref')
  = @game.player_out_db_ref
%p
  %b= t('move_out_dbref')
  = @game.move_out_db_ref
%p
  %b= t('value_out_dbref')
  = @game.value_out_db_ref
%p
  %b= t('best_value_out_dbref')
  = @game.best_value_out_db_ref
%p
  %b= t('deviation_out_dbref')
  = @game.deviation_out_db_ref

= link_to t('edit'), edit_game_path(@game)
\|
= link_to t('back'), games_path
