= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, t('name')
    = f.text_field :name, class: 'form-control'
  .actions
    = f.submit t('save'), class: 'btn btn-primary'
