.container
  .row
    .page-header
      %h1
        = t('player.list')
    .col-md-5
      = form_tag players_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
        .form-group
          = label_tag :search, t('search'), class: 'sr-only'
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: t('search')
        %button.btn.btn-default
          = t('submit')
      %table.table.table-condensed.table-striped.table-hover
        %tr
          %th= t('name')
          %th

        - @players.each do |player|
          %tr
            %td= player.name
            %td
              = link_to t('show'), player, class: 'btn btn-primary btn-xs'
              = link_to t('edit'), edit_player_path(player), class: 'btn btn-default btn-xs'
              = link_to t('destroy'), player, :method => :delete, :data => { :confirm => t('sure') }, class: 'btn btn-danger btn-xs'

  .row
    = will_paginate @players
