= form_for @reference_database do |f|
  - if @reference_database.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reference_database.errors.count, "error")} prohibited this reference_database from being saved:"
      %ul
        - @reference_database.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :path, t('path')
    = f.file_field :path
  .actions
    = f.submit t('save'), class: 'btn btn-primary'
