.container
  .row
    .col-md-6
      .page-header
        %h1
          = t('reference_database.list')
          = link_to t('new'), new_reference_database_path, class: 'btn btn-primary'

      %table.table.table-condensed.table-striped.table-hover
        %tr
          %th= t('name')
          %th= t('path')
          %th

        - @reference_databases.each do |reference_database|
          %tr
            %td= reference_database.name
            %td= reference_database.path
            %td
              = link_to t('show'), reference_database, class: 'btn btn-default btn-xs'
              = link_to t('edit'), edit_reference_database_path(reference_database), class: 'btn btn-primary btn-xs'
              = link_to t('destroy'), reference_database, :method => :delete, :data => { :confirm => t('sure') }, class: 'btn btn-danger btn-xs'
  .row
    = will_paginate @reference_databases
