%h1= t('reference_database.list')

%table.table.table-condensed.table-striped.table-hover
  %tr
    %th= t('name')
    %th= t('path')
    %th
    %th
    %th

  - @reference_databases.each do |reference_database|
    %tr
      %td= reference_database.name
      %td= reference_database.path
      %td= link_to t('show'), reference_database, class: 'btn'
      %td= link_to t('edit'), edit_reference_database_path(reference_database), class: 'btn btn-primary'
      %td= link_to t('destroy'), reference_database, :method => :delete, :data => { :confirm => t('sure') }, class: 'btn'

%br

= link_to t('reference_database.new'), new_reference_database_path, class: 'btn btn-primary'
