%p#notice= notice

%p
  %b= t('name')
  = @reference_database.name
%p
  %b= t('path')
  = @reference_database.path

= link_to t('edit'), edit_reference_database_path(@reference_database), class: 'btn btn-primary'
\|
= link_to t('back'), reference_databases_path, class: 'btn'
