%h1 Listing sites

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.name
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site', new_site_path
