<!DOCTYPE html>
%html
%head
  %title Chess Rate
  %link{rel: 'icon', type: 'image/ico', href: '/favicon.ico'}
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  - if current_user
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{data: {toggle: 'collapse', target: '#bs-example-navbar-collapse-1'}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: '#'}
          Chess Rate
      .collapse.navbar-collapse
        %a.brand{href: "#"}
        %ul.nav.navbar-nav
          %li{class: (controller_name == 'games' ? 'active' : '')}= link_to t('home'), :root
          %li{class: (controller_name == 'users' ? 'active' : '')}= link_to t('users'), users_path
          %li{class: (controller_name == 'pgn_files' ? 'active' : '')}= link_to t('pgn_files'), pgn_files_path
          %li{class: (controller_name == 'players' ? 'active' : '')}= link_to t('players'), players_path
          %li{class: (controller_name == 'reference_databases' ? 'active' : '')}= link_to t('ref_db'), reference_databases_path
        %ul.nav.navbar-nav.pull-right
          %li
            %span.user-name= current_user.full_name
          %li=link_to t('sign_out'), destroy_session_path(current_user), method: :delete
  .content
    - if notice
      %p.alert.alert-info= notice
    - if alert
      %p.alert.alert-error= alert

    = yield
