<!DOCTYPE html>
%html
%head
  %title Chess Rate
  %link{rel: 'icon', type: 'image/ico', href: '/favicon.ico'}
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  - if current_user
    .navbar
      .navbar-inner
        %a.brand{href: "#"}
        %ul.nav
          %li= link_to t('home'), :root
          %li= link_to t('users'), users_path
          %li= link_to t('games'), games_path
          %li= link_to t('moves.list'), moves_path
          %li= link_to t('pgn_files'), pgn_files_path
          %li= link_to t('players'), players_path
          %li= link_to t('ref_db'), reference_databases_path
        %ul.nav.pull-right
          %li
            %span.user-name= current_user.full_name
          %li= link_to t('sign_out'), destroy_session_path(current_user), method: :delete
  .row.row-fluid
    - if notice
      %p.alert.alert-info= notice
    - if alert
      %p.alert.alert-error= alert

    = yield
